@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Webmotors</h1>
    <p>Teste prático de Backend Webmotors</p>
    <p>Objetivo do teste é chegar em uma tela básica de crud de anúncios</p>
    <p>Bem como anúncios da tabela com consumo das informações de marca, modelo e versão via webservice</p>
    <p>Utilize o Menu superior</p>
</div>
